.advise{
    height: 256px;
    width: 256px;
}
.error h1{
    margin-bottom: 10px;
}
.error h5{
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #2976E6;
}




/*  responsividade                                  

    foi feita com base na biblioteca de dispositivos do desenvolvedor do google chrome.
*/




/* dispositivos abaixo ou até 1024px */
@media (max-device-width:1024px){
    .advise{
        height: 128px;
        width: 128px;
    }
}




/* dispositivos abaixo ou até 320px */
@media (max-device-width:320px){
    .advise{
        height: 64px;
        width: 64px;
    }
}

