#field_name, #field_email, #field_password{
    width: 50vh;
}
#email, #password{
    margin-top: 10px;
}
#btn_send{
    font-weight: bold;
    background-color: #2976E6;
    margin-top: 10px;

    width: 53vh;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 10px;

    height: 50px;
}
.text p{
    font-weight: bold;
}
.text strong{
    font-size: large;
}
.socialLogin{
    width: 120px;

    display: flex;
    justify-content: center;

    margin-top: 20px;
}
.google{
    cursor: pointer;
}





/*  responsividade                                  

   foi feita com base na biblioteca de dispositivos do desenvolvedor do google chrome.
*/




/* dispositivos abaixo de ou até width 1024px*/
@media (max-device-width:1024px){
    #field_name, #field_email, #field_password{
        width: 30vh;
    }
    #btn_send{
        width: 33vh;
    }
}




/* dispositivos especifícos width 1024px por height 1366px com orientation: portrait*/
@media (max-device-width:1024px){
    @media (max-device-height:1366px){
      @media (orientation:portrait){
            #btn_send{
                width: 32vh;
            }
        }
    }
}




/* dispositivos especifícos width 1024px por height 600px com orientation: portrait*/
@media (max-device-width:1024px){
    @media (max-device-height:600px){
            #btn_send{
                width: 34vh;
        }
    }
}




/* dispositivos especifícos width 915px por height 412px com orientation: landscape*/
@media (max-device-width:915px){
    @media (max-device-height:412px){
      @media (orientation:landscape){
        #field_name, #field_email, #field_password{
            width: 60vh;
        }
        #btn_send{
            width: 66vh;
        } 
      }
    }
}



/* dispositivos especifícos width 912px por height 1368px com orientation: portrait*/
@media (max-device-width:912px){
    @media (max-device-height:1368px){
      @media (orientation:portrait){
            #btn_send{
                width: 32vh;
            }
        }
    }
}




/* dispositivos especifícos width 896px por height 414px com orientation: landscape*/
@media (max-device-width:896px){
    @media (max-device-height:414px){
      @media (orientation:landscape){
        #field_name, #field_email, #field_password{
            width: 60vh;
        }
        #btn_send{
            width: 65vh;
        } 
      }
    }
  }




/* dispositivos especifícos width 854px por height 480px com orientation: landscape*/
@media (max-device-width:854px){
    @media (max-device-height:480px){
      @media (orientation:landscape){
            #field_name, #field_email, #field_password{
                width: 60vh;
            }
            #btn_send{
                width: 65vh;
            }
        }
    }
}




/* dispositivos especifícos width 820px por height 1280px com orientation: portrait*/
@media (max-device-width:820px){
    @media (max-device-height:1280px){
      @media (orientation:portrait){
            #btn_send{
                width: 32.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 820px por height 1180px com orientation: portrait*/
@media (max-device-width:820px){
    @media (max-device-height:1180px){
      @media (orientation:portrait){
            #btn_send{
                width: 32vh;
            }
        }
    }
}




/* dispositivos especifícos width 800px por height 1280px com orientation: portrait*/
@media (max-device-width:800px){
    @media (max-device-height:1280px){
      @media (orientation:portrait){
            #btn_send{
                width: 32vh;
            }
        }
    }
}




/* dispositivos especifícos width 768px por height 1024px com orientation: portrait*/
@media (max-device-width:768px){
    @media (max-device-height:1024px){
      @media (orientation:portrait){
            #btn_send{
                width: 32.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 740px por height 360px com orientation: landscape*/
@media (max-device-width:740px){
    @media (max-device-height:360px){
      @media (orientation:landscape){
            #field_name, #field_email, #field_password{
                width: 60vh;
            }
            #btn_send{
                width: 67.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 732px por height 412px com orientation: landscape*/
@media (max-device-width:732px){
    @media (max-device-height:412px){
      @media (orientation:landscape){
            #field_name, #field_email, #field_password{
                width: 60vh;
            }
            #btn_send{
                width: 67.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 640px por height 384px com orientation: landscape*/
@media (max-device-width:640px){
    @media (max-device-height:384px){
      @media (orientation:landscape){
            #field_name, #field_email, #field_password{
                width: 60vh;
            }
            #btn_send{
                width: 67.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 640px por height 360px com orientation: landscape*/
@media (max-device-width:640px){
    @media (max-device-height:360px){
      @media (orientation:landscape){
            #field_name, #field_email, #field_password{
                width: 60vh;
            }
            #btn_send{
                width: 67.5vh;
            }
        }
    }
}




/* dispositivos abaixo de ou até width 540px com orientation: portrait*/
@media (max-device-width:540px){
    @media (orientation:portrait){
        #btn_send{
            width: 34vh;
        }
    }
}




/* dispositivos especifícos width 540px por height 720px com orientation: portrait*/
@media (max-device-width:540px){
    @media (max-device-height:720px){
      @media (orientation:portrait){
            #btn_send{
                width: 33.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 480px por height 854px com orientation: portrait*/
@media (max-device-width:480px){
    @media (max-device-height:854px){
        @media (orientation:portrait){
            #btn_send{
                width: 33vh;
            }
        }
    }
}




/* dispositivos especifícos width 414px por height 896px com orientation: portrait*/
@media (max-device-width:414px){
    @media (max-device-height:896px){
        @media (orientation:portrait){
            #btn_send{
                width: 32.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 414px por height 736px com orientation: portrait*/
@media (max-device-width:414px){
    @media (max-device-height:736px){
        @media (orientation:portrait){
            #btn_send{
                width: 34vh;
            }
        }
    }
}




/* dispositivos especifícos width 412px por height 915px com orientation: portrait*/
@media (max-device-width:412px){
    @media (max-device-height:915px){
        @media (orientation:portrait){
            #btn_send{
                width: 32.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 412px por height 732px com orientation: portrait*/
@media (max-device-width:412px){
    @media (max-device-height:732px){
        @media (orientation:portrait){
            #btn_send{
                width: 33.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 411px por height 823px com orientation: portrait*/
@media (max-device-width:411px){
    @media (max-device-height:823px){
        @media (orientation:portrait){
            #btn_send{
                width: 33.5vh;
            }
        }
    }
}




/* dispositivos especifícos width 393px por height 851px com orientation: portrait*/
@media (max-device-width:393px){
    @media (max-device-height:851px){
        @media (orientation:portrait){
            #btn_send{
                width: 33vh;
            }
        }
    }
}




/* dispositivos especifícos width 393px por height 786px com orientation: portrait*/
@media (max-device-width:393px){
    @media (max-device-height:786px){
        @media (orientation:portrait){
            #btn_send{
                width: 33vh;
            }
        }
    }
}




/* dispositivos especifícos width 390px por height 844px com orientation: portrait*/
@media (max-device-width:390px){
    @media (max-device-height:844px){
        @media (orientation:portrait){
            #btn_send{
                width: 33vh;
            }
        }
    }
}




/* dispositivos especifícos width 384px por height 640px com orientation: portrait*/
@media (max-device-width:384px){
    @media (max-device-height:640px){
        @media (orientation:portrait){
            #btn_send{
                width: 34vh;
            }
        }
    }
}




/* dispositivos especifícos width 375px por height 667px com orientation: portrait*/
@media (max-device-width:375px){
    @media (max-device-height:667px){
        @media (orientation:portrait){
            #btn_send{
                width: 34vh;
            }
        }
    }
}




/* dispositivos abaixo de ou até width 360px com orientation: portrait*/
@media (max-device-width:360px){
    @media (orientation:portrait){
        #btn_send{
            width: 33vh;
        }
    }
}





/* dispositivos especifícos width 360px por height 640px com orientation: portrait*/
@media (max-device-width:360px){
    @media (max-device-height:640px){
        @media (orientation:portrait){
            #btn_send{
                width: 34vh;
            }
        }
    }
}




/* dispositivos especifícos width 360px por height 740px com orientation: portrait*/
@media (max-device-width:360px){
    @media (max-device-height:740px){
        @media (orientation:portrait){
            #btn_send{
                width: 33.5vh;
            }
        }
    }
}




/* dispositivos abaixo de ou até width 320px com orientation: portrait*/
@media (max-device-width:320px){
    @media (orientation:portrait){
        #btn_send{
            width: 34vh;
        }
    }
}
 



/* dispositivos especifícos width 320px por height 240px com orientation: landscape*/
@media (max-device-width:320px){
    @media (max-device-height:240px){
      @media (orientation:landscape){
        #btn_send{
            width: 70vh;
        }
      }
    }
}




/* dispositivos especifícos width 240px por height 320px com orientation: portrait*/
@media (max-device-width:240px){
    @media (max-device-height:320px){
      @media (orientation:portrait){
        #btn_send{
            width: 37.5vh;
        }
      }
    }
}
