{
    "API_URL":"your_api_url",
    
    "API_KEY":"your_api_key_firebase_credentials",
    "AUTH_DOMAIN":"your_auth_domain_firebase_credentials",
    "DATABASE_URL":"your_database_url_firebase_credentials",
    "PROJECT_ID":"your_project_id_firebase_credentials",
    "STORAGE_BUCKET":"your_storage_bucket_firebase_credentials",
    "MESSAGING_SENDER_ID":"your_messaging_sender_id_firebase_credentials",
    "APP_ID":"your_app_id_firebase_credentials",
    "MEASUREMENT_ID":"your_measurement_id_firebase_credentials"
}