@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




*{
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;

  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}




.form-container{
  background-color: whitesmoke;
  height: 55vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}




.play-store{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}




.store{
  margin-top: -15px;
  height: 50px;
}




/* component header */
.Header{
  background-color: whitesmoke;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-logo{
  flex: 1;
}
.logo{
  margin-left: 122px;
  margin-top: 34px;
}
.container-dist{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center ;
}
.logo-dist{
  margin-top: 15px;
}
.sub-container-logo{
  flex: 1;    
  overflow: hidden;
}
.internal-sub-container-logo{
  height: 100%;
  width: 303px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.social{
  overflow: hidden;
  
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.in, .git{
  margin-top: 46px;
  margin-bottom: 1px;
  cursor: pointer;
}
.git{
  margin-right: 10px;
}
.text-logo-container{
  overflow: hidden;

  flex-grow: 50;   
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;  
}
.text-logo{
  margin-bottom: 10px;
  cursor: pointer;
}




/* component Login */
.signUp,.Login{
  height: 90vh;
}




#field_name, #field_email, #field_password{
  width: 30vw;
}
#email, #password{
  margin-top: 10px;
}
#btn_send{
  font-weight: bold;
  background-color: #2976E6;
  margin-top: 10px;

  width: 32vw;
}




/* component footer */
.Footer{
  background-image: url('./assets/Rectangle.png');
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Ccopy{
  margin-right: 5px;
}




/* component admin */
.Admin{
  display: flex;
  justify-content: center;
}




.insertWorker{
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2976E60F;
}




.listWorkers{
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}




.border{
  background-color: #2976E60F;
  height: 90vh;
  width: 40%;
}




.error{
  background-color: #f5f5f5;
  height: 90vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  responsividade                                  

    foi feita com base na biblioteca de dispositivos do desenvolvedor do google chrome.
*/




/* dispositivos gerais abaixo de ou até width 1339px*/
@media (max-width:1339px){
  .signUp,.Login{
    height: 100vh;
  } 
  .form-container{
    height: 66vh;
  } 
  .container-logo{
    display: flex;
    justify-content: center;
  }
  .logo{
    margin-left: 0;
  }
  .social{
    align-items: center;
    justify-content: center;
  }
  .text-logo-container{
    justify-content: center;  
  }
  .store{
    margin-top: -10vh;
  }
  .border{
    width: 50%;
  }
}




/* dispositivos gerais abaixo de ou até width 1024px*/
@media (max-width:1024px){
  .signUp, .Login{
    height: 160vh;
  }

  .Header{
    flex-direction: column;
    justify-content: space-between;
  }

  .container-logo{
    display: flex;
    justify-content: center;
  }
  
  .logo{
    margin-left: 0;
    margin-bottom: 4vh;
  }

  .social{
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }

  .text-logo-container{
    justify-content: center;  
  }

  .internal-sub-container-logo{
    width: 100%;
  }
  
  .store{
    height: 40px;
  }

  #btn_send{
    width: 32.5vw;
  }
  
  .border{
    width: 60%;
  }
}



/* dispositivos gerais abaixo de ou até width 767px*/
@media (max-width:767px){
  .border{
    width: 100%;
  }
  .profileContainer{
    flex-direction: column;
  }
  .profilePhotoContainer{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .profileInfoContainer{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
}




/* dispositivos gerais abaixo de ou até width 712px*/
@media (max-width:712px){
  #btn_send{
    width: 34vw;
  }
}




/* dispositivos gerais abaixo de ou até width 515px*/
@media (max-width:515px){
  #btn_send{
    width: 34.5vw;
  }
}





/* dispositivos gerais abaixo de ou até width 478px*/
@media (max-width:478px){
  #btn_send{
    width: 35vw;
  }
}




/* dispositivos abaixo de ou até width 1339px*/
@media (max-device-width:1339px){
  .border{
    width: 60%;
  }
}




/* dispositivos especifícos width 1339px por height 768px com orientation: landscape*/
@media (max-device-width:1339px){
  @media(min-device-width:768px){
    @media(orientation:landscape){
      .signUp,.Login{
        height: 100vh;
      } 
      .form-container{
        height: 66vh;
      } 
      .container-logo{
        display: flex;
        justify-content: center;
      }
      .logo{
        margin-left: 0;
      }
      .social{
        align-items: center;
        justify-content: center;
      }
      .text-logo-container{
        justify-content: center;  
      }
    }
  }
}




/* dispositivos abaixo de ou até width 1024px*/
@media (max-device-width:1024px){
  .border{
     width: 80%;
   }
   #field_name, #field_email, #field_password{
    width: 30vw;
  }
  #btn_send{
      width: 33vw;
  }
 }




/* dispositivos especifícos width 1024px por height 600px */
@media (max-device-width:1024px){
  @media (max-device-height:600px){
   .signUp, .Login{
      height: 180vh;
    }
    .store{
      margin-bottom: -10vh;
    }
    #btn_send{
      width: 34vw;
    }
  }
}




/* dispositivos especifícos width 1024px por height 600px */
@media (max-device-width:1024px){
  @media (max-device-height:600px){
    @media (orientation:landscape){
      #btn_send{
          width: 32.5vw;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 1024px com orientation: portrait*/
@media (max-device-width:1024px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 110vh;
        }
        .Header{
          flex-direction: column;
          justify-content: space-between;
        }
      
        .container-logo{
          display: flex;
          justify-content: center;
        }
        
        .logo{
          margin-left: 0;
          margin-bottom: 4vh;
        }
      
        .social{
          align-items: center;
          justify-content: center;
          margin-bottom: 5vh;
        }
      
        .text-logo-container{
          justify-content: center;  
        }
        .internal-sub-container-logo{
          width: 100%;
        }
    }
}




/* dispositivos especifícos width 1024px por height 1366px com orientation: portrait*/
@media (max-device-width:1024px){
  @media (max-device-height:1366px){
    @media (orientation:portrait){
      .form-container{
        height: 50vh;
      }
      #btn_send{
        width: 32vw;
      }
    }
  }
}




/* dispositivos especifícos width 1024px por height 768px com orientation: landscape*/
@media (max-device-width:1024px){
  @media (max-device-height:768px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 150vh;
         }
         #btn_send{
          width: 32.5vw;
      }
    }
  }
}




/* dispositivos especifícos width 1024px por height 600px com orientation: landscape*/
@media (max-device-width:1024px){
  @media (max-device-height:600px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 180vh;
         }
    }
  }
}




/* dispositivos especifícos width 960px por height 600px com orientation: landscape*/
@media (max-device-width:960px){
  @media (max-device-height:600px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 180vh;
       }
    }
  }
}




/* dispositivos abaixo de ou até width 915px com orientation: landscape*/
@media (max-device-width:915px){
  @media (orientation:landscape){
    .error{
      height: 130vh;
    }
  }
}




/* dispositivos especifícos width 915px por height 412px com orientation: landscape*/
@media (max-device-width:915px){
  @media (max-device-height:412px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 270vh;
         }
         .form-container{
          height: 120vh;  
        }
        #field_name, #field_email, #field_password{
          width: 40vw;
        }
        #btn_send{
          width: 43vw;
      }  
    }
  }
}




/* dispositivos abaixo de ou até width 912px com orientation: portrait*/
@media (max-device-width:912px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 120vh;
      }
  }
}




/* dispositivos especifícos width 912px por height 1368px com orientation: portrait*/
@media (max-device-width:912px){
  @media (max-device-height:1368px){
    @media (orientation:portrait){
          #btn_send{
              width: 32vw;
          }
      }
  }
}




/* dispositivos especifícos width 896px por height 414px com orientation: landscape*/
@media (max-device-width:896px){
  @media (max-device-height:414px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 270vh;
         }
         .form-container{
          height: 120vh;  
        }
         #field_name, #field_email, #field_password{
          width: 40vw;
        }
         #btn_send{
          width: 43vw;
      }  
    }
  }
}




/* dispositivos especifícos width 854px por height 480px com orientation: landscape*/
@media (max-device-width:854px){
  @media (max-device-height:480px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 230vh;
         }
         .form-container{
          height: 90vh;  
        } 
         #field_name, #field_email, #field_password{
          width: 40vw;
        }
         #btn_send{
          width: 43vw;
      }
    }
  }
}




/* dispositivos especifícos width 851px por height 393px com orientation: landscape*/
@media (max-device-width:851px){
  @media (max-device-height:393px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 290vh;
       }
       .form-container{
        height: 125vh;
       }
    }
  }
}




/* dispositivos especifícos width 844px por height 390px com orientation: landscape*/
@media (max-device-width:844px){
  @media (max-device-height:390px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
       .form-container{
        height: 120vh;
       }
    }
  }
}




/* dispositivos especifícos width 823px por height 411px com orientation: landscape*/
@media (max-device-width:823px){
  @media (max-device-height:411px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 270vh;
       }
       .form-container{
        height: 115vh;
       }
    }
  }
}




/* dispositivos especifícos width 820px por height 1280px com orientation: portrait*/
@media (max-device-width:820px){
  @media (max-device-height:1280px){
    @media (orientation:portrait){
          #btn_send{
              width: 32.5vw;
          }
      }
  }
}




/* dispositivos especifícos width 820px por height 1180px com orientation: portrait*/
@media (max-device-width:820px){
  @media (max-device-height:1180px){
    @media (orientation:portrait){
          #btn_send{
              width: 33vw;
          }
      }
  }
}




/* dispositivos especifícos width 812px por height 375px com orientation: landscape*/
@media (max-device-width:812px){
  @media (max-device-height:375px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
    }
  }
}




/* dispositivos especifícos width 800px por height 1280px com orientation: portrait*/
@media (max-device-width:800px){
  @media (max-device-height:1280px){
    @media (orientation:portrait){
          #btn_send{
              width: 33vw;
          }
      }
  }
}




/* dispositivos especifícos width 786px por height 393px com orientation: landscape*/
@media (max-device-width:786px){
  @media (max-device-height:393px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 280vh;
         }
         .form-container{
          height: 110vh;  
        } 
      }
  }
}




/* dispositivos especifícos width 768px por height 1024px com orientation: portrait*/
@media (max-device-width:768px){
  @media (max-device-height:1024px){
    @media (orientation:portrait){
      .form-container{
        height: 50vh;
      }
      #btn_send{
        width: 33vw;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 767px*/
@media (max-device-width:767px){
   .signUp, .Login{
      height: 160vh;
    }
    .Header{
      flex-direction: column;
      justify-content: space-between;
    }
  
    .container-logo{
      display: flex;
      justify-content: center;
    }
    
    .logo{
      margin-left: 0;
      margin-bottom: 4vh;
    }
  
    .social{
      align-items: center;
      justify-content: center;
      margin-bottom: 5vh;
    }
  
    .text-logo-container{
      justify-content: center;  
    }
    .internal-sub-container-logo{
      width: 100%;
    }
    .border{
      width: 100%;
    }
}




/* dispositivos abaixo de ou até width 767px com orientation: landscape*/
@media (max-device-width:767px){
  @media (orientation:landscape){
    .signUp, .Login{
      height: 300vh;
    }
    .form-container{
      height: 114vh;  
    } 
    .play-store{
      height: 66px;
    }.Footer{
      height: 15vh;
    }
    .store{
      margin-top: 22%;
    }
  }
}




/* dispositivos abaixo de ou até width 767px com orientation: portrait*/
@media (max-device-width:767px){
  @media (orientation:portrait){
    .signUp, .Login{
      height: 170vh;
    }
    .form-container{
      height: 74vh;  
    } 
    .Footer{
      margin-top: 2vh;
    }
  }
}




/* dispositivos especifícos width 745px por height 353px com orientation: landscape*/
@media (max-device-width:745px){
  @media (max-device-height:353px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 300vh;
         }
    }
  }
}




/* dispositivos especifícos width 740px por height 540px com orientation: landscape*/
@media (max-device-width:740px){
  @media (max-device-height:540px){
    @media (orientation:landscape){
       #field_name, #field_email, #field_password{
        width: 40vw;
      }
      #btn_send{
        width: 43.5vw;
      }
    }
  }
}




/* dispositivos especifícos width 740px por height 360px com orientation: landscape*/
@media (max-device-width:740px){
  @media (max-device-height:360px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 290vh;
       }
       #field_name, #field_email, #field_password{
        width: 40vw;
      }
      #btn_send{
        width: 43.5vw;
      }
    }
  }
}




/* dispositivos especifícos width 732px por height 412px com orientation: landscape*/
@media (max-device-width:732px){
  @media (max-device-height:412px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 280vh;
         }
         #field_name, #field_email, #field_password{
          width: 40vw;
         }
         #btn_send{
          width: 43.5vw;
      }
    }
  }
}




/* dispositivos especifícos width 720px por height 540px com orientation: landscape*/
@media (max-device-width:720px){
  @media (max-device-height:540px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 240vh;
         }
    }
  }
}




/* dispositivos abaixo de ou até width 712px com orientation: portrait*/
@media (max-device-width:712px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 140vh;
    }
  }
}



/* dispositivos especifícos width 712px por height 1138px com orientation: portrait*/
@media (max-device-width:712px){
  @media (max-device-height:1138px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 130vh;
        }
        #btn_send{
          width: 33.5vw;
        }
        .Footer{
          margin: 0;
      }
    }
  }
}




/* dispositivos especifícos width 667px por height 375px com orientation: landscape*/
@media (max-device-width:667px){
  @media (max-device-height:375px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
    }
  }
}




/* dispositivos especifícos width 658px por height 320px com orientation: landscape*/
@media (max-device-width:658px){
  @media (max-device-height:320px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 350vh;
         }
         .form-container{
          height: 150vh;
         }
         #field_name, #field_email, #field_password{
          width: 40vw;
         }
         #btn_send{
          width: 44vw;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 653px com orientation: landscape*/
@media (max-device-width:653px){
  @media (orientation:landscape){
    .error{
      height: 150vh;
    }
  }
}




/* dispositivos especifícos width 653px por height 280px com orientation: landscape*/
@media (max-device-width:653px){
  @media (max-device-height:280px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 380vh;
         }
         .form-container{
          height: 150vh;
      }
    }
  }
}




/* dispositivos especifícos width 640px por height 384px com orientation: landscape*/
@media (max-device-width:640px){
  @media (max-device-height:384px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
       #field_name, #field_email, #field_password{
        width: 40vw;
       }
       #btn_send{
        width: 44vw;
      }
    }
  }
}




/* dispositivos especifícos width 640px por height 360px com orientation: landscape*/
@media (max-device-width:640px){
  @media (max-device-height:360px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 310vh;
         }
         #field_name, #field_email, #field_password{
          width: 40vw;
         }
         #btn_send{
          width: 44vw;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 600px com orientation: portrait*/
@media (max-device-width:600px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 140vh;
    }
  }
}




/* dispositivos especifícos width 600px por height 1024px com orientation: portrait*/
@media (max-device-width:600px){
  @media (max-device-height:1024px){
    @media (orientation:portrait){
      .Footer{
        margin: 0;
      }
      .border{
        height: 100vh;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 600px com orientation: portrait*/
@media (max-device-width:600px){
  @media (max-device-height:960px){
    @media (orientation:portrait){
      #field_name, #field_email, #field_password{
        width: 40vw;
       }
      #btn_send{
       width: 44vw;
      }
    }
  }
}





/* dispositivos especifícos width 568px por height 320px com orientation: landscape*/
@media (max-device-width:568px){
  @media (max-device-height:320px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 350vh;
        }
      }
  }
}




/* dispositivos abaixo de ou até width 540px com orientation: portrait*/
@media (max-device-width:540px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 170vh;
    }
      #btn_send{
       width: 34vw;
    }
  }
}




/* dispositivos especifícos width 540px por height 720px com orientation: portrait*/
@media (max-device-width:540px){
  @media (max-device-height:720px){
    @media (orientation:portrait){
          #btn_send{
              width: 44.5vw;
          }
          .Admin{
            height: 110vh;
          }
          .border{
            height: 110vh;
          }
      }
  }
}




/* dispositivos especifícos width 533px por height 320px com orientation: landscape*/
@media (max-device-width:533px){
  @media (max-device-height:320px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 350vh;
        }
      }
  }
}




/* dispositivos abaixo de ou até width 480px com orientation: portrait*/
@media (max-device-width:480px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 160vh;
    }
  }
}





/* dispositivos especifícos width 480px por height 896px com orientation: portrait*/
@media (max-device-width:480px){
  @media (max-device-height:896px){
    @media (orientation:portrait){
     .border{
      height: 100vh;
     }
    }
  }
}




/* dispositivos especifícos width 480px por height 854px com orientation: portrait*/
@media (max-device-width:480px){
  @media (max-device-height:854px){
      @media (orientation:portrait){
          #btn_send{
              width: 45vw;
          }
      }
  }
}




/* dispositivos especifícos width 414px por height 896px com orientation: portrait*/
@media (max-device-width:414px){
  @media (max-device-height:896px){
      @media (orientation:portrait){
          .signUp, .Login{
          height: 140vh;
          }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos especifícos width 414px por height 736px com orientation: portrait*/
@media (max-device-width:414px){
  @media (max-device-height:736px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 160vh;
        }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos abaixo de ou até width 412px com orientation: portrait*/
@media (max-device-width:412px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 170vh;
    }
  }
}




/* dispositivos especifícos width 412px por height 915px com orientation: portrait*/
@media (max-device-width:412px){
  @media (max-device-height:915px){
      @media (orientation:portrait){
          .signUp, .Login{
          height: 140vh;
          }
          #btn_send{
              width: 46vw;
          }
          .border{
            height: 100vh;
          }
      }
  }
}




/* dispositivos especifícos width 412px por height 732px com orientation: portrait*/
@media (max-device-width:412px){
  @media (max-device-height:732px){
      @media (orientation:portrait){
        #profileName{
          display: none;
        }
        .signUp, .Login{
          height: 170vh;
        }
        #field_name, #field_email, #field_password{
          width: 40vw;
        }
        #btn_send{
              width: 46vw;
        }
        .Admin{
          height: 100vh;
        }
        .border{
          height: 100vh;
        }
    }
  }
}




/* dispositivos especifícos width 411px por height 823px com orientation: portrait*/
@media (max-device-width:411px){
  @media (max-device-height:823px){
      @media (orientation:portrait){
          .signUp, .Login{
            height: 150vh;
          }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos especifícos width 411px por height 731px com orientation: portrait*/
@media (max-device-width:411px){
  @media (max-device-height:731px){
      @media (orientation:portrait){
         .signUp, .Login{
            height: 160vh;
          }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos especifícos width 393px por height 851px com orientation: portrait*/
@media (max-device-width:393px){
  @media (max-device-height:851px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 150vh;
         }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos especifícos width 393px por height 786px com orientation: portrait*/
@media (max-device-width:393px){
  @media (max-device-height:786px){
      @media (orientation:portrait){
         .signUp, .Login{
          height: 150vh;
         }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos especifícos width 390px por height 844px com orientation: portrait*/
@media (max-device-width:390px){
  @media (max-device-height:844px){
      @media (orientation:portrait){
         .signUp, .Login{
          height: 150vh;
          }
          #btn_send{
              width: 46vw;
          }
      }
  }
}




/* dispositivos abaixo de ou até width 384px com orientation: portrait*/
@media (max-device-width:384px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
      }
    }
}




/* dispositivos especifícos width 384px por height 640px com orientation: portrait*/
@media (max-device-width:384px){
  @media (max-device-height:640px){
      @media (orientation:portrait){
        #profileName{
          display: none;
        }
        #field_name, #field_email, #field_password{
          width: 60vw;
         }
         #btn_send{
          width: 66vw;
        }
        .Admin{
          height: 110vh;
        }
        .border{
          height: 110vh;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 375px com orientation: portrait*/
@media (max-device-width:375px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 170vh;
    }
  }
}




/* dispositivos especifícos width 375px por height 667px com orientation: portrait*/
@media (max-device-width:375px){
  @media (max-device-height:667px){
      @media (orientation:portrait){
          #btn_send{
              width: 46vw;
          }
          #profileName{
            display: none;
          }
      }
  }
}




/* dispositivos abaixo de ou até width 360px com orientation: portrait*/
@media (max-device-width:360px){
  @media (orientation:portrait){
    .signUp, .Login{
        height: 180vh;
    }
  }
}




/* dispositivos especifícos width 360px por height 740px com orientation: portrait*/
@media (max-device-width:360px){
  @media (max-device-height:740px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 160vh;
      }
      #field_name, #field_email, #field_password{
        width: 60vw;
      }
      #btn_send{
        width: 67vw;
      }
      .border{
        height: 100vh;
      }
    }
  }
}




/* dispositivos especifícos width 360px por height 640px com orientation: portrait*/
@media (max-device-width:360px){
  @media (max-device-height:640px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 180vh;
      }
      #field_name, #field_email, #field_password{
        width: 60vw;
      }
      #btn_send{
        width: 66.5vw;
      }
      .Admin{
        height: 120vh;
      }
      .border{
        height: 120vh;
      }
    }
  }
}




/* dispositivos especifícos width 353px por height 745px com orientation: portrait*/
@media (max-device-width:353px){
  @media (max-device-height:745px){
    @media (orientation:portrait){
      #field_name, #field_email, #field_password{
        width: 60vw;
      }
      #btn_send{
        width: 66.5vw;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 320px*/
@media (max-device-width:320px){
  .error{
    height: 170vh;
  }
}




/* dispositivos abaixo de ou até width 320px com orientation: portrait*/
@media (max-device-width:320px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 190vh;
        }
    }
}




/* dispositivos especifícos width 320px por height 1280px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:1280px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 220vh;
        }
      }
    }
}




/* dispositivos especifícos width 320px por height 658px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:658px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 180vh;
      }
      #btn_send{
        width: 67.5vw;
      }
      .Admin{
        height: 100vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 568px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:568px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 190vh;
      }
      #btn_send{
        width: 68vw;
      }
      .Admin{
        height: 110vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 533px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:533px){
    @media (orientation:portrait){
      #field_name, #field_email, #field_password{
        width: 55vw;
       }
       .store{
        margin-top: 0;
      }
      #btn_send{
        width: 62.5vw;
      }
      .border{
        height: 130vh;
      }
      .Admin{
        height: 130vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 480px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:480px){
    @media (orientation:portrait){
      #profileName{
        display: none;
      }
      .signUp, .Login{
        height: 220vh;
      }
      .form-container{
        height: 90vh;
      }
      .Admin{
        height: 125vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 240px com orientation: landscape*/
@media (max-device-width:320px){
  @media (max-device-height:240px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 440vh;
         }
         .form-container{
          height: 180vh;  
        } 
         #btn_send{
          width: 48vw;
      }
    }
  }
}




/* dispositivos especifícos width 280px por height 653px com orientation: portrait*/
@media (max-device-width:280px){
  @media (max-device-height:653px){
    @media (orientation:portrait){
        #btn_send{
          width: 69vw;
      } 
    }
  }
}




/* dispositivos abaixo de ou até width 240px com orientation: portrait*/
@media (max-device-width:240px){
  @media (orientation:portrait){
      .logo-dist{
        display: none;
      }
      .form-container{
        height: 120vh;
      }
  }
}





/* dispositivos especifícos width 240px por height 320px com orientation: portrait*/
@media (max-device-width:240px){
  @media (max-device-height:320px){
    @media (orientation:portrait){
      .border{
        height: 200vh;
      }
      #btn_send{
          width: 65vw;
      }
      .Admin{
        height: 200vh;
      }
    }
  }
}

















