@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




*{
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;

  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}




.form-container{
  background-color: whitesmoke;
  height: 55vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}




.play-store{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}




.store{
  margin-top: -15px;
}




/* component header */
.Header{
  background-color: whitesmoke;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-logo{
  flex: 1;
}
.logo{
  margin-left: 122px;
  margin-top: 34px;
}
.container-dist{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center ;
}
.logo-dist{
  margin-top: 15px;
}
.sub-container-logo{
  flex: 1;    
  overflow: hidden;
}
.internal-sub-container-logo{
  height: 100%;
  width: 303px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.social{
  overflow: hidden;
  
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.in, .git{
  margin-top: 46px;
  margin-bottom: 1px;
  cursor: pointer;
}
.git{
  margin-right: 10px;
}
.text-logo-container{
  overflow: hidden;

  flex-grow: 50;   
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;  
}
.text-logo{
  margin-bottom: 10px;
  cursor: pointer;
}




/* component Login */
.signUp,.Login{
  height: 90vh;
}




/* component footer */
.Footer{
  background-image: url('./assets/Rectangle.png');
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Ccopy{
  margin-right: 5px;
}




/* component admin */
.Admin{
  display: flex;
  justify-content: center;
}




.insertWorker{
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2976E60F;
}




.listWorkers{
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}




.border{
  background-color: #2976E60F;
  height: 90vh;
  width: 40%;
}




.error{
  background-color: #f5f5f5;
  height: 90vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  responsividade                                  

    foi feita com base na biblioteca de dispositivos do desenvolvedor do google chrome.
*/




/* dispositivos gerais abaixo de ou até width 1339px*/
@media (max-width:1339px){
  .signUp,.Login{
    height: 100vh;
  } 
  .form-container{
    height: 66vh;
  } 
  .container-logo{
    display: flex;
    justify-content: center;
  }
  .logo{
    margin-left: 0;
  }
  .social{
    align-items: center;
    justify-content: center;
  }
  .text-logo-container{
    justify-content: center;  
  }
  .store{
    margin-top: -10vh;
  }
}




/* dispositivos gerais abaixo de ou até width 1024px*/
@media (max-width:1024px){
  .signUp, .Login{
    height: 160vh;
  }

  .Header{
    flex-direction: column;
    justify-content: space-between;
  }

  .container-logo{
    display: flex;
    justify-content: center;
  }
  
  .logo{
    margin-left: 0;
    margin-bottom: 4vh;
  }

  .social{
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }

  .text-logo-container{
    justify-content: center;  
  }

  .internal-sub-container-logo{
    width: 100%;
  }
  
  .store{
    height: 40px;
  }
}




/* dispositivos abaixo de ou até width 1339px*/
@media (max-device-width:1339px){
  .border{
    width: 60%;
  }
}




/* dispositivos especifícos width 1339px por height 768px com orientation: landscape*/
@media (max-device-width:1339px){
  @media(min-device-width:768px){
    @media(orientation:landscape){
      .signUp,.Login{
        height: 100vh;
      } 
      .form-container{
        height: 66vh;
      } 
      .container-logo{
        display: flex;
        justify-content: center;
      }
      .logo{
        margin-left: 0;
      }
      .social{
        align-items: center;
        justify-content: center;
      }
      .text-logo-container{
        justify-content: center;  
      }
    }
  }
}




/* dispositivos abaixo de ou até width 1024px*/
@media (max-device-width:1024px){
  .border{
     width: 80%;
   }
 }




/* dispositivos especifícos width 1024px por height 600px */
@media (max-device-width:1024px){
  @media (max-device-height:600px){
   .signUp, .Login{
      height: 180vh;
    }
    .store{
      margin-bottom: -10vh;
    }
  }
}




/* dispositivos abaixo de ou até width 1024px com orientation: portrait*/
@media (max-device-width:1024px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 110vh;
        }
        .Header{
          flex-direction: column;
          justify-content: space-between;
        }
      
        .container-logo{
          display: flex;
          justify-content: center;
        }
        
        .logo{
          margin-left: 0;
          margin-bottom: 4vh;
        }
      
        .social{
          align-items: center;
          justify-content: center;
          margin-bottom: 5vh;
        }
      
        .text-logo-container{
          justify-content: center;  
        }
        .internal-sub-container-logo{
          width: 100%;
        }
    }
}




/* dispositivos especifícos width 1024px por height 1366px com orientation: portrait*/
@media (max-device-width:1024px){
  @media (max-device-height:1366px){
    @media (orientation:portrait){
      .form-container{
        height: 50vh;
      }
    }
  }
}




/* dispositivos especifícos width 1024px por height 768px com orientation: landscape*/
@media (max-device-width:1024px){
  @media (max-device-height:768px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 150vh;
         }
    }
  }
}




/* dispositivos especifícos width 1024px por height 600px com orientation: landscape*/
@media (max-device-width:1024px){
  @media (max-device-height:600px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 180vh;
         }
    }
  }
}




/* dispositivos especifícos width 960px por height 600px com orientation: landscape*/
@media (max-device-width:960px){
  @media (max-device-height:600px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 180vh;
       }
    }
  }
}




/* dispositivos abaixo de ou até width 915px com orientation: landscape*/
@media (max-device-width:915px){
  @media (orientation:landscape){
    .error{
      height: 130vh;
    }
  }
}




/* dispositivos especifícos width 915px por height 412px com orientation: landscape*/
@media (max-device-width:915px){
  @media (max-device-height:412px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 270vh;
         }
         .form-container{
          height: 120vh;  
      } 
    }
  }
}




/* dispositivos abaixo de ou até width 912px com orientation: portrait*/
@media (max-device-width:912px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 120vh;
      }
  }
}




/* dispositivos especifícos width 896px por height 414px com orientation: landscape*/
@media (max-device-width:896px){
  @media (max-device-height:414px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 270vh;
         }
         .form-container{
          height: 120vh;  
      } 
    }
  }
}




/* dispositivos especifícos width 854px por height 480px com orientation: landscape*/
@media (max-device-width:854px){
  @media (max-device-height:480px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 230vh;
         }
         .form-container{
          height: 90vh;  
        } 
      }
  }
}




/* dispositivos especifícos width 851px por height 393px com orientation: landscape*/
@media (max-device-width:851px){
  @media (max-device-height:393px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 290vh;
       }
       .form-container{
        height: 125vh;
       }
    }
  }
}




/* dispositivos especifícos width 844px por height 390px com orientation: landscape*/
@media (max-device-width:844px){
  @media (max-device-height:390px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
       .form-container{
        height: 120vh;
       }
    }
  }
}




/* dispositivos especifícos width 823px por height 411px com orientation: landscape*/
@media (max-device-width:823px){
  @media (max-device-height:411px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 270vh;
       }
       .form-container{
        height: 115vh;
       }
    }
  }
}




/* dispositivos especifícos width 812px por height 375px com orientation: landscape*/
@media (max-device-width:812px){
  @media (max-device-height:375px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
    }
  }
}




/* dispositivos especifícos width 786px por height 393px com orientation: landscape*/
@media (max-device-width:786px){
  @media (max-device-height:393px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 280vh;
         }
         .form-container{
          height: 110vh;  
        } 
      }
  }
}




/* dispositivos especifícos width 768px por height 1024px com orientation: portrait*/
@media (max-device-width:768px){
  @media (max-device-height:1024px){
    @media (orientation:portrait){
      .form-container{
        height: 50vh;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 767px*/
@media (max-device-width:767px){
   .signUp, .Login{
      height: 160vh;
    }
    .Header{
      flex-direction: column;
      justify-content: space-between;
    }
  
    .container-logo{
      display: flex;
      justify-content: center;
    }
    
    .logo{
      margin-left: 0;
      margin-bottom: 4vh;
    }
  
    .social{
      align-items: center;
      justify-content: center;
      margin-bottom: 5vh;
    }
  
    .text-logo-container{
      justify-content: center;  
    }
    .internal-sub-container-logo{
      width: 100%;
    }
    .border{
      width: 100%;
    }
}




/* dispositivos abaixo de ou até width 767px com orientation: landscape*/
@media (max-device-width:767px){
  @media (orientation:landscape){
    .signUp, .Login{
      height: 300vh;
    }
    .form-container{
      height: 114vh;  
    } 
    .play-store{
      height: 66px;
    }.Footer{
      height: 15vh;
    }
    .store{
      margin-top: 22%;
    }
  }
}




/* dispositivos abaixo de ou até width 767px com orientation: portrait*/
@media (max-device-width:767px){
  @media (orientation:portrait){
    .signUp, .Login{
      height: 170vh;
    }
    .form-container{
      height: 74vh;  
    } 
    .Footer{
      margin-top: 2vh;
    }
  }
}




/* dispositivos especifícos width 745px por height 353px com orientation: landscape*/
@media (max-device-width:745px){
  @media (max-device-height:353px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 300vh;
         }
    }
  }
}




/* dispositivos especifícos width 740px por height 360px com orientation: landscape*/
@media (max-device-width:740px){
  @media (max-device-height:360px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 290vh;
       }
    }
  }
}




/* dispositivos especifícos width 732px por height 412px com orientation: landscape*/
@media (max-device-width:732px){
  @media (max-device-height:412px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 280vh;
         }
    }
  }
}




/* dispositivos especifícos width 720px por height 540px com orientation: landscape*/
@media (max-device-width:720px){
  @media (max-device-height:540px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 240vh;
         }
    }
  }
}




/* dispositivos abaixo de ou até width 712px com orientation: portrait*/
@media (max-device-width:712px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 140vh;
    }
  }
}




/* dispositivos especifícos width 667px por height 375px com orientation: landscape*/
@media (max-device-width:667px){
  @media (max-device-height:375px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
    }
  }
}




/* dispositivos especifícos width 658px por height 320px com orientation: landscape*/
@media (max-device-width:658px){
  @media (max-device-height:320px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 310vh;
         }
    }
  }
}




/* dispositivos abaixo de ou até width 653px com orientation: landscape*/
@media (max-device-width:653px){
  @media (orientation:landscape){
    .error{
      height: 150vh;
    }
  }
}




/* dispositivos especifícos width 653px por height 280px com orientation: landscape*/
@media (max-device-width:653px){
  @media (max-device-height:280px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 380vh;
         }
         .form-container{
          height: 150vh;
        }
    }
  }
}




/* dispositivos especifícos width 640px por height 384px com orientation: landscape*/
@media (max-device-width:640px){
  @media (max-device-height:384px){
    @media (orientation:landscape){
      .signUp, .Login{
        height: 280vh;
       }
    }
  }
}




/* dispositivos especifícos width 640px por height 360px com orientation: landscape*/
@media (max-device-width:640px){
  @media (max-device-height:360px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 310vh;
         }
    }
  }
}




/* dispositivos abaixo de ou até width 600px com orientation: portrait*/
@media (max-device-width:600px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 140vh;
    }
  }
}




/* dispositivos abaixo de ou até width 540px com orientation: portrait*/
@media (max-device-width:540px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 170vh;
    }
  }
}




/* dispositivos abaixo de ou até width 480px com orientation: portrait*/
@media (max-device-width:480px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 160vh;
    }
  }
}




/* dispositivos abaixo de ou até width 412px com orientation: portrait*/
@media (max-device-width:412px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 170vh;
    }
  }
}




/* dispositivos abaixo de ou até width 384px com orientation: portrait*/
@media (max-device-width:384px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
      }
    }
}




/* dispositivos abaixo de ou até width 375px com orientation: portrait*/
@media (max-device-width:375px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 170vh;
    }
  }
}




/* dispositivos abaixo de ou até width 360px com orientation: portrait*/
@media (max-device-width:360px){
  @media (orientation:portrait){
      .signUp, .Login{
        height: 180vh;
    }
  }
}




/* dispositivos especifícos width 360px por height 740px com orientation: portrait*/
@media (max-device-width:360px){
  @media (max-device-height:740px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 160vh;
      }
    }
  }
}




/* dispositivos especifícos width 360px por height 640px com orientation: portrait*/
@media (max-device-width:360px){
  @media (max-device-height:640px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 180vh;
      }
    }
  }
}




/* dispositivos abaixo de ou até width 320px*/
@media (max-device-width:320px){
  .error{
    height: 170vh;
  }
}




/* dispositivos abaixo de ou até width 320px com orientation: portrait*/
@media (max-device-width:320px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 190vh;
        }
    }
}




/* dispositivos especifícos width 320px por height 1280px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:1280px){
    @media (orientation:portrait){
        .signUp, .Login{
          height: 220vh;
        }
      }
    }
}




/* dispositivos especifícos width 320px por height 533px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:533px){
    @media (orientation:portrait){
      .Footer{
        display: none;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 658px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:658px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 180vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 568px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:568px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 190vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 533px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:533px){
    @media (orientation:portrait){
          .store{
              margin-top: 0;
          }
      }
  }
}




/* dispositivos especifícos width 320px por height 480px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:480px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 220vh;
      }
      .form-container{
        height: 90vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 240px com orientation: landscape*/
@media (max-device-width:320px){
  @media (max-device-height:240px){
    @media (orientation:landscape){
         .signUp, .Login{
          height: 430vh;
         }
         .form-container{
          height: 180vh;  
      } 
    }
  }
}




/* dispositivos abaixo de ou até width 240px com orientation: portrait*/
@media (max-device-width:240px){
  @media (orientation:portrait){
      .logo-dist{
        display: none;
      }
      .form-container{
        height: 120vh;
      }
  }
}


















