  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




*{
  margin: 0;
}
body{
  font-family: 'Inter', sans-serif;
  background-color: whitesmoke;
}




/* component header */
.Header{
  background-color: whitesmoke;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-logo{
  flex: 1;
}
.logo{
  margin-left: 122px;
  margin-top: 34px;
}
.container-dist{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:center ;
}
.logo-dist{
  margin-top: 15px;
}
.sub-container-logo{
  flex: 1;    
  overflow: hidden;
}
.internal-sub-container-logo{
  height: 100%;
  width: 303px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.social{
  overflow: hidden;
  
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.in, .git{
  margin-top: 46px;
  margin-bottom: 1px;
  cursor: pointer;
}
.git{
  margin-right: 10px;
}
.text-logo-container{
  overflow: hidden;

  flex-grow: 50;   
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;  
}
.text-logo{
  margin-bottom: 10px;
  cursor: pointer;
}




.internalHeader{
  height: 30vh;

  display: flex;
  flex-direction: column;
}
.logoContainer{
  flex: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}
.logoIcon{
  height: 90px;
  width: 90px;
  margin-right: 25px;
}
.logoText{
  height: 100px;
}




.profileContainer{
  flex: 1;

  display: flex;
}
.profilePhotoContainer{
  background-color: #2976E61A;
  padding: 5px;
  flex: 1;
}
.clientPhoto{
  height: 120px;
  width:  120px;
  
  top: 15%;
  position: absolute;
  
  margin-left: 5px;

  border-radius:100%;
  border: solid 5px rgba(0,0,0,0.2);
}
.bar{
  display: none;
}
.profilePhotoUpload{
  display: none;
}
.control_label_profilePhotoUpload{
  background-color: #2976E6;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  width: 30px;

  box-shadow: 0px 2px 0px rgba(0,0,0,0.4); 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition-property: all;
  transition-duration: 0.5s;
}
.control_label_profilePhotoUpload:hover{
  background-color: black;
  color: #2976E6;
}
.formUpload{
  width: 94%;
  display: flex;
}




.profileInfoContainer{
  background-color: #2976E61A;
  padding: 5px;
  flex: 3;
}
.profileContainer h1{
  margin-top: 5px;
  margin-bottom: 3px;
}
.profileContainer h1, .profileContainer h3{
  font-family: 'Inter', sans-serif;
}




/* component footer */
.Footer{
  background-image: url('./assets/Rectangle.png');
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Ccopy{
  margin-right: 5px;
}




/* component Login */
.signUp,.Login{
  height: 100vh;
}




/* component admin */
.Admin{
  height: 100vh;

  display: flex;
  justify-content: center;
}




.error{
  background-color: #f5f5f5;
  height: 90vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}




/*  responsividade                                  

    foi feita com base na biblioteca de dispositivos do desenvolvedor do google chrome.
*/




/* dispositivos gerais abaixo de ou até width 1339px*/
@media (max-width:1339px){
  .container-logo{
    display: flex;
    justify-content: center;
  }
  .logo{
    margin-left: 0;
  }
  .social{
    align-items: center;
    justify-content: center;
  }
  .text-logo-container{
    justify-content: center;  
  }
}




/* dispositivos gerais abaixo de ou até width 1024px*/
@media (max-width:1024px){
  .signUp, .Login{
    height: 160vh;
  }

  .Header{
    flex-direction: column;
    justify-content: space-between;
  }

  .container-logo{
    display: flex;
    justify-content: center;
  }
  
  .logo{
    margin-left: 0;
    margin-bottom: 4vh;
  }

  .social{
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }

  .text-logo-container{
    justify-content: center;  
  }

  .internal-sub-container-logo{
    width: 100%;
  }
}




/* dispositivos especifícos width 1024px por height 768px com orientation: landscape*/
@media (max-device-width:1024px){
  @media (max-device-height:768px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 160vh;
      }
    }
  }
}




/* dispositivos especifícos width 1024px por height 600px com orientation: portrait*/
@media (max-device-width:1024px){
  @media (max-device-height:600px){
        .signUp, .Login{
          height: 200vh;
    }
  }
}




/* dispositivos especifícos width 915px por height 412px com orientation: landscape*/
@media (max-device-width:915px){
  @media (max-device-height:412px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 280vh;
          
        }
        .Admin{
        height: 150vh;
      }
    }
  }
}




/* dispositivos especifícos width 912px por height 1368px com orientation: portrait*/
@media (max-device-width:912px){
  @media (max-device-height:1368px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 100vh;
      }
    }
  }
}




/* dispositivos especifícos width 896px por height 414px com orientation: landscape*/
@media (max-device-width:896px){
  @media (max-device-height:414px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 280vh;
        }
       .Admin{
        height: 150vh;
      }
    }
  }
}




/* dispositivos especifícos width 854px por height 480px com orientation: landscape*/
@media (max-device-width:854px){
  @media (max-device-height:480px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 240vh;
        }
        .Admin{
          height: 150vh;
      }
    }
  }
}




/* dispositivos especifícos width 851px por height 393px com orientation: landscape*/
@media (max-device-width:851px){
  @media (max-device-height:393px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
      }
    }
  }
}




/* dispositivos especifícos width 844px por height 390px com orientation: landscape*/
@media (max-device-width:844px){
  @media (max-device-height:390px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
      }
    }
  }
}




/* dispositivos especifícos width 823px por height 411px com orientation: landscape*/
@media (max-device-width:823px){
  @media (max-device-height:411px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 280vh;
      }
    }
  }
}




/* dispositivos especifícos width 820px por height 1180px com orientation: portrait*/
@media (max-device-width:820px){
  @media (max-device-height:1180px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 110vh;
        }
        .clientPhoto{
          margin: 0;
      }
    }
  }
}





/* dispositivos especifícos width 812px por height 375px com orientation: landscape*/
@media (max-device-width:812px){
  @media (max-device-height:375px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
      }
    }
  }
}




/* dispositivos especifícos width 800px por height 1280px com orientation: portrait*/
@media (max-device-width:800px){
  @media (max-device-height:1280px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 110vh;
      }
    }
  }
}




/* dispositivos especifícos width 786px por height 393px com orientation: landscape*/
@media (max-device-width:786px){
  @media (max-device-height:393px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
      }
    }
  }
}




/* dispositivos gerais abaixo de ou até width 768px*/
@media (max-width:768px){
  .logoContainer{
    display: none;
  }
  .profileContainer{
    flex-direction: column;
  }
  .profilePhotoContainer{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .clientPhoto{
    position: initial;
    height: 100px;
    width: 100px;
  }
  .bar{
    display: flex;
    height: 1px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px #2976E6;
    background-color: #2976E6;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .profileInfoContainer{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  }
}




/* dispositivos especifícos width 768px por height 1024px com orientation: portrait*/
@media (max-device-width:768px){
  @media (max-device-height:1024px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 130vh;
      }
    }
  }
}




/* dispositivos especifícos width 740px por height 360px com orientation: landscape*/
@media (max-device-width:740px){
  @media (max-device-height:360px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
        }
        .Admin{
          height: 200vh;
      }
    }
  }
}




/* dispositivos especifícos width 736px por height 414px com orientation: landscape*/
@media (max-device-width:736px){
  @media (max-device-height:414px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 280vh;
      }
    }
  }
}




/* dispositivos especifícos width 732px por height 412px com orientation: landscape*/
@media (max-device-width:732px){
  @media (max-device-height:412px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
        }
        .Admin{
          height: 200vh;
      }
    }
  }
}




/* dispositivos especifícos width 720px por height 540px com orientation: landscape*/
@media (max-device-width:720px){
  @media (max-device-height:540px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 220vh;
      }
    }
  }
}




/* dispositivos especifícos width 712px por height 1138px com orientation: portrait*/
@media (max-device-width:712px){
  @media (max-device-height:1138px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 120vh;
      }
    }
  }
}




/* dispositivos baixo ou até width 700px */
@media (max-device-width:700px){
  #profileName{
    font-size: medium;
  }
  #profileEmail{
    font-size: small;
  } 
  .clientPhoto{
    height: 110px;
    width: 110px;
  }
}




/* dispositivos especifícos width 667px por height 375px com orientation: landscape*/
@media (max-device-width:667px){
  @media (max-device-height:375px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 300vh;
      }
    }
  }
}




/* dispositivos especifícos width 658px por height 320px com orientation: landscape*/
@media (max-device-width:658px){
  @media (max-device-height:320px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 340vh;
        }
        .Admin{
          height: 250vh;
      }
    }
  }
}




/* dispositivos especifícos width 653px por height 280px com orientation: landscape*/
@media (max-device-width:653px){
  @media (max-device-height:280px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 400vh;
      }
    }
  }
}




/* dispositivos especifícos width 640px por height 384px com orientation: landscape*/
@media (max-device-width:640px){
  @media (max-device-height:384px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 280vh;
        }
        .Admin{
          height: 180vh;
      }
    }
  }
}




/* dispositivos especifícos width 640px por height 360px */
@media (max-device-width:640px){
  @media (max-device-height:360px){
        .signUp, .Login{
          height: 320vh;
        }
        .clientPhoto{
          height: 100px;
          width: 100px;
    }
  }
}




/* dispositivos especifícos width 640px por height 360px com orientation: landscape*/
@media (max-device-width:640px){
  @media (max-device-height:360px){
    @media (orientation: landscape){
       .Admin{
         height: 200vh;
      }
    }
  }
}




/* dispositivos especifícos width 600px por height 1024px com orientation: portrait*/
@media (max-device-width:600px){
  @media (max-device-height:1024px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 130vh;
      }
    }
  }
}




/* dispositivos especifícos width 568px por height 320px com orientation: landscape*/
@media (max-device-width:568px){
  @media (max-device-height:320px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 340vh;
      }
    }
  }
}




/* dispositivos especifícos width 540px por height 720px com orientation: portrait*/
@media (max-device-width:540px){
  @media (max-device-height:720px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 160vh;
        }
        .clientPhoto{
          height: 90px;
          width: 90px;
      }
    }
  }
}




/* dispositivos especifícos width 533px por height 320px com orientation: landscape*/
@media (max-device-width:533px){
  @media (max-device-height:320px){
    @media (orientation:landscape){
        .signUp, .Login{
          height: 340vh;
      }
    }
  }
}




/* dispositivos especifícos width 480px por height 854px com orientation: portrait*/
@media (max-device-width:480px){
  @media (max-device-height:854px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 140vh;
      }
    }
  }
}




/* dispositivos especifícos width 414px por height 896px com orientation: portrait*/
@media (max-device-width:414px){
  @media (max-device-height:896px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 140vh;
      }
    }
  }
}




/* dispositivos especifícos width 414px por height 736px com orientation: portrait*/
@media (max-device-width:414px){
  @media (max-device-height:736px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 160vh;
      }
    }
  }
}




/* dispositivos especifícos width 412px por height 915px com orientation: portrait*/
@media (max-device-width:412px){
  @media (max-device-height:915px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 140vh;
      }
    }
  }
}




/* dispositivos especifícos width 412px por height 732px com orientation: portrait*/
@media (max-device-width:412px){
  @media (max-device-height:732px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
        }
        #profileName{
          font-size: medium;
        }
        #profileEmail{
          font-size: small;
      }
    }
  }
}




/* dispositivos especifícos width 411px por height 823px com orientation: portrait*/
@media (max-device-width:411px){
  @media (max-device-height:823px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 160vh;
      }
    }
  }
}




/* dispositivos especifícos width 393px por height 786px com orientation: portrait*/
@media (max-device-width:393px){
  @media (max-device-height:786px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 160vh;
        }
        .clientPhoto{
          height: 80px;
          width: 80px;
      }
    }
  }
}




/* dispositivos especifícos width 384px por height 640px com orientation: portrait*/
@media (max-device-width:384px){
  @media (max-device-height:640px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
        }
        #profileName{
          font-size: medium;
        }
        #profileEmail{
          font-size: small;
      }
    }
  }
}




/* dispositivos especifícos width 375px por height 812px com orientation: portrait*/
@media (max-device-width:375px){
  @media (max-device-height:812px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 160vh;
      }
    }
  }
}




/* dispositivos especifícos width 375px por height 667px com orientation: portrait*/
@media (max-device-width:375px){
  @media (max-device-height:667px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
      }
    }
  }
}




/* dispositivos abaixo ou até width 360px */
@media (max-device-width:360px){
  #profileName{
    display: none;
  }
}




/* dispositivos especifícos width 360px por height 740px com orientation: portrait*/
@media (max-device-width:360px){
  @media (max-device-height:740px){
    @media (orientation:portrait){
      #profileName{
        font-size: medium;
      }
      #profileEmail{
        font-size: small;
      }
    }
  }
}




/* dispositivos especifícos width 360px por height 640px com orientation: portrait*/
@media (max-device-width:360px){
  @media (max-device-height:640px){
    @media (orientation:portrait){
      .signUp, .Login{
        height: 200vh;
      }
      #profileName{
        font-size: medium;
      }
      #profileEmail{
        font-size: small;
      }
      .Admin{
        width: 100vw;
        height: 110vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 658px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:658px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
      }
    }
  }
}





/* dispositivos especifícos width 320px por height 568px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:568px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 200vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 533px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:533px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 220vh;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 480px com orientation: portrait*/
@media (max-device-width:320px){
  @media (max-device-height:480px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 240vh;
        }
        #profileName{
          font-size: small;
        }
        #profileEmail{
          font-size: x-small;
      }
    }
  }
}




/* dispositivos especifícos width 320px por height 240px com orientation: landscape*/
@media (max-device-width:320px){
  @media (max-device-height:240px){
      @media (orientation:landscape){
        .signUp, .Login{
          height: 480vh;
        }
        .Admin{
          height: 250vh;
      }
    }
  }
}




/* dispositivos especifícos width 280px por height 653px com orientation: portrait*/
@media (max-device-width:280px){
  @media (max-device-height:653px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 180vh;
      }
    }
  }
}




/* dispositivos abaixo ou até width 240px */
@media (max-device-width:240px){
  .clientPhoto{
        height: 40px;
        width: 40px;
  }
}




/* dispositivos especifícos width 240px por height 320px com orientation: portrait*/
@media (max-device-width:240px){
  @media (max-device-height:320px){
      @media (orientation:portrait){
        .signUp, .Login{
          height: 340vh;
       }
       .Admin{
        height: 160vh;
       }
    }
  }
}











