@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');



.border{
    background-color: #2976E60F;
    height: 100vh;
    width: 40%;
}



.header{
    height: 30vh;
    overflow: hidden;
}




.cardContaner{
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.cardElements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardWorker{
    margin-bottom: 20px;
}
.listWorker, .cardWorker{
    cursor: pointer;
}
.logout{
    width: 100%;

    display: flex;
    justify-content: flex-end;
}



.insertWorker{
    background-color: #2976E60F;
    overflow: hidden;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.formInsertWorker{
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: whitesmoke;
}




.formInsertWorker .size{
    width: 50%;
}
.arrow{
   width: 50%;
   margin-top: 20px;
}
.arrow img{
    cursor: pointer;
}



.listWorkers{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.getWorkers{
    width: 40%;
    height: 100%;
    overflow: hidden;
    background-color: #2976E60F;
}
.main{
    flex: 1;
    height: 67%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    background-color: #2976E6;
    box-shadow: 0px 0px 9px #2976E6;
}
table thead{
    background-color: rgba(0,0,0,0.6);
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}
table tbody tr td{
    font-size: small;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
}
.paginationBtn{
    width: 66%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.previews, .next{
    cursor: pointer;
}
.arrowList{
    width: 66%;
    margin-top: 60px;
}
.arrowList img{
    cursor: pointer;
}
#disable{
    cursor: no-drop;
}




.logout{
    cursor: pointer;
}




/*  responsividade                                  

    foi feita com base na biblioteca de dispositivos do desenvolvedor do google chrome.
*/




/* dispositivos gerais width 1339px */
@media (max-width:1339px){
  .border, .getWorkers, .formInsertWorker{
    width: 50vw;
  }
}




/* dispositivos gerais width 1100px */
@media (max-width:1100px){
    .border, .getWorkers, .formInsertWorker{
      width: 60vw;
    }
}




/* dispositivos especifícos width 1024px por height 600px com orientation: landscape*/
@media (max-width:1024px){
    @media (max-height:600px){
        @media (orientation:landscape){
            #logo{
                display: none;
            }
        }
    }
}




/* dispositivos especifícos width 915px por height 412px com orientation: landscape*/
@media (max-device-width:915px){
    @media (max-device-height:412px){
        @media (orientation:landscape){
            .border{
                height: 150vh;
            }
            .header{
                height: 50vh;
           }
           .main{
                height: 100vh;
           }
           .formUpload{
                margin-bottom: 3vh;
           }
        }
    }
}




/* dispositivos gerais width 900px */
@media (max-width:900px){
    .border, .getWorkers, .formInsertWorker{
      width: 70vw;
    }
}




/* dispositivos especifícos width 896px por height 414px com orientation: landscape*/
@media (max-device-width:896px){
    @media (max-device-height:414px){
        @media (orientation:landscape){
            .border{
                height: 150vh;
            }
            .header{
                height: 50vh;
           }
           .main{
                height: 100vh;
           }
           .formUpload{
                margin-bottom: 3vh;
           }
        }
    }
}




/* dispositivos especifícos width 854px por height 480px com orientation: landscape*/
@media (max-device-width:854px){
    @media (max-device-height:480px){
        @media (orientation:landscape){
            .border{
                height: 150vh;
            }
            .header{
                height: 50vh;
           }
           .main{
                height: 100vh;
           }
           .formUpload{
                margin-bottom: 3vh;
           }
        }
    }
}




/* dispositivos especifícos width 800px por height 1280px com orientation: portrait*/
@media (max-device-width:800px){
    @media (max-device-height:1280px){
        @media (orientation:portrait){
            .border, .getWorkers, .formInsertWorker{
                width: 100vw;
            }
            .formUpload{
                margin-top: -10vh;
                margin-bottom: -5vh;
            }
        }
    }
}




/* dispositivos gerais width 768px */
@media (max-width:768px){
    .border{
        height: 110vh;
        width: 100vw;
    }
    .getWorkers, .formInsertWorker{
        width: 100vw;
    }
    .header{
         height: 33vh;
    }
    .main{
        height: 77vh;
    }
    .formUpload{
        margin-top: -10vh;
    }
     #logo{
        height: 130px;
    }
}




/* dispositivos abaixo ou até width 768px com orientation: landscape*/
@media (max-width:768px){
    @media (orientation: landscape){
        .formInsertWorker .size{
            width: 40%;
        }
    }
}




/* dispositivos especifícos width 768px por height 1024px com orientation: portrait*/
@media (max-device-width:768px){
    @media (max-device-height:1024px){
        @media (orientation:portrait){
            .formUpload{
                margin-top: -10vh;
                margin-bottom: -5vh;
            }
        }
    }
}




/* dispositivos especifícos width 745px por height 353px com orientation: landscape*/
@media (max-device-width:745px){
    @media (max-device-height:353px){
        @media (orientation:landscape){
            .border{
                height: 150vh;
            }
            .header{
                height: 50vh;
           }
           .main{
                height: 100vh;
           }
           .cardWorker{
                height: 150px;
           }
           .listWorker{
                height: 30px;
           }
        }
    }
}




/* dispositivos especifícos width 740px por height 360px com orientation: landscape*/
@media (max-device-width:740px){
    @media (max-device-height:360px){
        @media (orientation:landscape){
            .border{
                height: 200vh;
            }
            .header{
                height: 50vh;
            }
            .main{
                height: 150vh;
            }
            .formUpload{
                margin-bottom: 5vh;
            }
            .signOut{
                margin-top: 10vh;
            }
        }
    }
}




/* dispositivos especifícos width 736px por height 414px com orientation: landscape*/
@media (max-device-width:736px){
    @media (max-device-height:414px){
        @media (orientation:landscape){
            .border{
                height: 200vh;
            }
            .header{
                height: 50vh;
           }
           .main{
                height: 150vh;
           }
        }
    }
}




/* dispositivos especifícos width 732px por height 412px com orientation: landscape*/
@media (max-device-width:732px){
    @media (max-device-height:412px){
        @media (orientation:landscape){
            .border{
                height: 200vh;
            }
            .header{
                height: 53vh;
            }
            .main{
                height: 147vh;
            }
            .formUpload{
                margin-top: -20vh;
                margin-bottom: 5vh;
            }
            .signOut{
                margin-top: 10vh;
            }
        }
    }
}




/* dispositivos especifícos width 658px por height 320px com orientation: landscape*/
@media (max-device-width:658px){
    @media (max-device-height:320px){
        @media (orientation:landscape){
            .border{
                height: 250vh;
            }
            .header{
                height: 55vh;
            }
            .main{
                height: 195vh;
            }
            .formUpload{
                margin-top: -30vh;
            }
            .signOut{
                margin-top: 20vh;
            }
        }
    }
}





/* dispositivos especifícos width 653px por height 280px com orientation: landscape*/
@media (max-device-width:653px){
    @media (max-device-height:280px){
        @media (orientation:landscape){
            .header{
                height: 70vh;
           }
           .main{
                height: 180vh;
           }
        }
    }
}




/* dispositivos especifícos width 640px por height 384px com orientation: landscape*/
@media (max-device-width:640px){
    @media (max-device-height:384px){
        @media (orientation:landscape){
            .border{
                height: 180vh;
            }
            .header{
                height: 55vh;
            }
            .main{
                height: 125vh;
            }
            .formUpload{
                margin-bottom: 5vh;
            }
            .signOut{
                margin-top: 5vh;
            }
        }
    }
}




/* dispositivos especifícos width 640px por height 360px com orientation: landscape*/
@media (max-device-width:640px){
    @media (max-device-height:360px){
        @media (orientation: landscape){
            .border{
                height: 200vh;
            }   
            .header{
                height: 50vh;
            }
           .main{
                height: 150vh;
            }
           .formUpload{
                margin-bottom: 5vh;
           }
        }
    }
}




/* dispositivos especifícos width 600px por height 1024px com orientation: portrait*/
@media (max-device-width:600px){
    @media (max-device-height:1024px){
        @media (orientation:portrait){
            .formUpload{
                margin-top: -12vh;
            }
        }
    }
}




/* dispositivos gerais width 500px */
@media (max-width:500px){
   #addressthead, #workeraddress{
    display: none;
   }
}




/* dispositivos especifícos width 384px por height 640px com orientation: portrait*/
@media (max-device-width:384px){
    @media (max-device-height:640px){
        @media (orientation:portrait){
            .formUpload{
                margin-bottom: 1vh;
            }
        }
    }
}




/* dispositivos abaixo ou até width 360px */
@media (max-device-width:360px){
   #logo{
    height: 90px;
    width: 90px;
   }
}




/* dispositivos especifícos width 360px por height 740px com orientation: portrait*/
@media (max-device-width:360px){
    @media (max-device-height:740px){
        @media (orientation:portrait){
            .formUpload{
                margin-top: -8vh;
            }
        }
    }
}




/* dispositivos especifícos width 360px por height 640px com orientation: portrait*/
@media (max-device-width:360px){
    @media (max-device-height:640px){
        @media (orientation:portrait){
            .formUpload{
                margin-bottom: 2vh;
            }
        }
    }
}




/* dispositivos abaixo ou até width 320px */
@media (max-device-width:320px){
    #logo, #namethead, tbody #workername{
        display: none;
    }
    table{
        margin-top: 5vh;
    }
    .paginationBtn{
       margin-bottom: -7vh;
    }
   
 }




/* dispositivos especifícos width 320px por height 658px com orientation: portrait*/
@media (max-device-width:320px){
    @media (max-device-height:658px){
        @media (orientation:portrait){
            .formUpload{
                margin-bottom: 1vh;
            }
            .cardWorker{
                height: 160px;
            }
            .listWorker{
                height: 40px;
            }    
        }
    }
}




/* dispositivos especifícos width 320px por height 568px com orientation: portrait*/
@media (max-device-width:320px){
    @media (max-device-height:568px){
        @media (orientation:portrait){
            .cardWorker{
                height: 160px;
            }
            .listWorker{
                height: 40px;
            }    
        }
    }
}





/* dispositivos especifícos width 320px por height 240px com orientation: landscape*/
@media (max-device-width:320px){
    @media (max-device-height:240px){
        @media (orientation:landscape){
          .border{
            height: 250vh;
          }
          .header{
            height: 70vh;
          }
          .main{
            height: 180vh;
          }
        }
    }
}




/* dispositivos especifícos width 320px por height 533px com orientation: portrait*/
@media (max-device-width:320px){
    @media (max-device-height:533px){
        @media (orientation:portrait){
            .cardWorker{
                height: 150px;
            }
            .listWorker{
                height: 30px;
            }    
        }
    }
}




/* dispositivos gerais width 319px */
@media (max-width:319px){
    #namethead, tbody #workername{
     display: none;
    }
 }




/* dispositivos especifícos width 280px por height 653px com orientation: portrait*/
@media (max-device-width:280px){
    @media (max-device-height:653px){
        @media (orientation:portrait){
            .cardWorker{
                height: 130px;
            }
            .listWorker{
                height: 30px;
            }  
        }
    }
}




/* dispositivos especifícos width 240px por height 320px com orientation: portrait*/
@media (max-device-width:240px){
    @media (max-device-height:320px){
        @media (orientation:portrait){
            .border{
                height: 160vh;
            }
            .header{
                height: 42vh;
            }
            .main{
                height: 118vh;
            }
            #logo{
                display: none;
            }
            .formUpload{
                margin-bottom: 8vh;
            }
            .cardWorker{
                height: 100px;
            }
            .listWorker{
                height: 30px;
                margin-bottom: 10vh;
            }  
        }
    }
}